*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
body{
min-height: 100vh;
   
 
}
.container{
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 0px 70px;
    position: relative;
   
     
    
 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    margin-top: 19px;
    margin-bottom: 20px;
  
}
header .logo{
       width: 130px;
       height: 100px;
       
    
}
.logo-img{
    width: 100%;
    height: 100%;

    
    
}


section{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin:auto;
    padding: 25px 0;

    
   

}
.image{
    width: 40%;
    height: 350px;
}
.img-sc{
    width: 90%;
    height: 80%;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 25px;
    
}

.par{
    width: 50%;
}
.par p{
    cursor: pointer;
    transition: color 0.7s ease;

}
.par h1{
    transition:  color 0.7s ease;
}
.par span{
    transition:  color 0.7s ease;
}
.par p:hover,.par h1:hover,.par span:hover{
    color: rgb(124, 121, 121);
}
.last{
   display: flex;
   align-items: center;
   justify-content: center;
   /* margin: auto; */
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -80px;
   background-color: rgb(230, 232, 235);
   width: 100%;
   border-radius: 16px;
   margin-top: 15px;

}
.last img{
    width: 55px;
    height: 50px;
    cursor: pointer;
    transition: width 0.7s ease,height 0.7s ease;

}
 .last img:hover{
    width: 60px ;
    height: 60px;
 }
span{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: black;
}
@media (max-width:500px) {
    .container{
        padding: 4 20px;
    }
    section{
        gap: 35px;
        padding: 10px 0;
        width: 100%;
        

    }
    .image{
         width: 50%;
         height: 280px; 
    }
    .img-sc{
        width: 100%;
        margin-top: 0;
        margin-bottom: 7px;
      
    }
    .par{
        width: 50%;    
    }
    .par p{
        font-size: 14px;
    }

    header{
        width: 100%;
        gap: 50px;
     margin:  auto;
     margin-top: 0 ;
     margin-bottom: 0;
    }
    .last{
    bottom: -50px;
    }
   header .logo{
        width: 50px;
        height: 50px;
    }
    .par h1{
        font-size: 18px;
    }
    .par span{
        font-size: 20px;
    }
    header h2{
        font-size: 25px;
    }
    .last img{
        width: 36px;
    }
}
@media (min-width:501px) and (max-width:900px) {
    .container{
        padding:  0 15px;
    }
    section{
        padding:  10px 0;
    }
    .image{
        height: 250px;
    }
    header .logo{
        width: 70px;
        height: 70px;
    }

}
@media (max-width:300px) {
    .header .logo{
        width: 100px;
        height: 100px;
    }
    .image{
        height: 300px;
    }
    .container{
        padding: 15px 5px;
        height: 100vh;
    }
    .par{
        font-size: 20px;
        width: 60%;
        
    }
    section{
        gap: 3px;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 10px 0;
        height: 100vh;
        margin-top: -25px;
    }
    header{
        margin-top: 20px;
        height: 100vh;
    }
}