*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
body{
min-height: 100vh;
   
 
}
.container{
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 0px 70px;
    position: relative;
   
     
    
 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    margin-top: 19px;
    margin-bottom: 20px;
  
}
header .logo{
       width: 130px;
       height: 100px;
       
    
}
.logo-img{
    width: 100%;
    height: 100%;

    
    
}


section{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin:auto;
    padding: 25px 0;

    
   

}
.image{
    width: 40%;
    height: 350px;
}
.img-sc{
    width: 90%;
    height: 80%;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 25px;
    
}

.par{
    width: 50%;
}
.par p{
    cursor: pointer;
    transition: color 0.7s ease;

}
.par h1{
    transition:  color 0.7s ease;
}
.par span{
    transition:  color 0.7s ease;
}
.par p:hover,.par h1:hover,.par span:hover{
    color: rgb(124, 121, 121);
}
.last{
   display: flex;
   align-items: center;
   justify-content: center;
   /* margin: auto; */
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -80px;
   background-color: rgb(230, 232, 235);
   width: 100%;
   border-radius: 16px;
   margin-top: 15px;

}
.last img{
    width: 55px;
    height: 50px;
    cursor: pointer;
    transition: width 0.7s ease,height 0.7s ease;

}
 .last img:hover{
    width: 60px ;
    height: 60px;
 }
span{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: black;
}
@media (min-width:300px)  and  (max-width:500px) {
    .container{
        padding: 2px 5px;
    }
    header{
        margin-bottom: 4px;
        margin-top: 40px;
        
    }
    header .logo{
        width: 80px;
        height: 80px;
    }
    section{
        gap: 10px;
        padding: 20px ;
        width: 100%;
        margin-top: 50px;
    }
    .last{
        bottom: 50px;
    }
    .par h1 ,span{
        font-size: 20px;
    }

}