*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
body{
 height: 100vh;
   
 
}
.container{
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 18px 80px;
    position: relative;
   
     
    
 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 25px;

}
header .logo{
       width: 140px;
       height: 100px;
       
    
}
.logo-img{
    width: 100%;
    height: 100%;

    
    
}


section{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    
    margin: auto;
    height: 80%;
    
   

}
.image{
    width: 40%;
    height: 300px;
}
.img-sc{
    width: 90%;
    height: 80%;
    cursor: pointer;
    margin-top: 14px;
    
}

.par{
    width: 50%;
}
.par p{
    cursor: pointer;
    transition: color 0.7s ease;

}
.par h1{
    transition:  color 0.7s ease;
}
.par span{
    transition:  color 0.7s ease;
}
.par p:hover,.par h1:hover,.par span:hover{
    color: rgb(124, 121, 121);
}
.last{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   position: absolute;
   margin-top: 0px;
   left: 50%;
   transform: translateX(-50%);
   bottom: -20%;
   background-color: rgb(230, 232, 235);
   width: 100%;
   border-radius: 16px;
   padding: 8px 4px;

}
.last img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: width 0.7s ease,height 0.7s ease;

}
 .last img:hover{
    width: 55px ;
    height: 60px;
 }
span{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: black;
}
@media (max-width:500px) {
    section{
        gap: 5px;
    }
    .image{
        height: 250px;
         width: 45%; 
    }
    .img-sc{
        margin-top: 30px;
        /* width: 100%; */
    }
    .par{
        width: 55%;
        margin-top: 10px;
        
    }
    .par p{
        font-size: 14px;
    }
    .container{
        padding: 10px 15px;
    }
    header{
        width: 100%;
        gap: 20px;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    .par h1{
        font-size: 18px;
    }
    .par span{
        font-size: 20px;
    }
    header h2{
        font-size: 25px;
    }
    .last img{
        width: 36px;
    }
}